[SddmGreeterTheme]
Name=ZothOS Hermetic Matrix
Description=Sovereign Cyber-Alchemical QML Greeter Theme for ZothOS
Author=ZothOS Engineering
Copyright=(c) 2026 ZothOS Team
ConfigFile=theme.conf
ThemeMainScript=Main.qml
Type=sddm-theme
Version=1.0
