#!/bin/sh
# ZOTHOS X11 Session Profile
export XDG_CURRENT_DESKTOP=XFCE
export GTK_THEME=Zoth-Hermetic-Matrix
feh --bg-fill /usr/share/backgrounds/zothos/hermetic-matrix.png 2>/dev/null &
/usr/local/bin/zoth-desktop-init &
