[Desktop Entry]
Name=Zoth Ghost NullAI
Comment=Spectral Cyan & Violet Stealth Reality
X-KDE-PluginInfo-Author=ZothOS
X-KDE-PluginInfo-Email=dev@nullai.tech
X-KDE-PluginInfo-Name=Zoth-Ghost
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Plasma Theme
