[Desktop Entry]
Version=1.0
Type=Application
Name=Google AGY AI
Comment=Google Antigravity SDK & Agent Harness
Exec=konsole -p tabtitle= 'Google AGY AI' -e 'agy'
Icon=utilities-terminal
Terminal=false
Categories=Development;ArtificialIntelligence;
Keywords=google;antigravity;agy;agent;sdk;
StartupNotify=true
