[Desktop Entry]
Version=1.0
Type=Application
Name=Bitwarden CLI & Vault
GenericName=Password & Secrets Manager
Comment=Access and manage your Bitwarden vault from the terminal
Exec=konsole -p tabtitle= 'Bitwarden Vault' -e 'bash -c "bw --help; echo; exec bash"'
Icon=bitwarden
Terminal=false
Categories=Utility;Security;
StartupNotify=true
