[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth Caido Web Security Suite
GenericName=Web Application Security Proxy
Comment=Modern Rust-based Web Application Security & Auditing Proxy
Exec=/usr/bin/caido %U
Icon=caido
Terminal=false
Categories=Security;Development;Network;
Keywords=Caido;Proxy;Security;Web;Audit;Vulnerability;
StartupNotify=true
