[Desktop Entry]
Version=1.0
Type=Application
Name=Cline Autonomous Agent
Comment=Cline.bot Open-Source Autonomous Coding Agent & CLI
Exec=konsole -p tabtitle='Cline AI' -e 'cline'
Icon=/usr/share/pixmaps/opencode.png
Terminal=false
Categories=Development;AI;
Keywords=cline;agent;autonomous;coding;ai;bot;
StartupNotify=true
