[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth SimpleX Sovereign Chat
Comment=Zero-Identifier 100% Metadata-Free Private Messenger
Exec=/usr/local/bin/simplex-desktop
Icon=/usr/share/pixmaps/simplex-desktop.png
Terminal=false
Categories=Network;Chat;InstantMessaging;
Keywords=chat;messaging;im;private;simplex;
StartupNotify=true
