[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth User Feedback
Comment=Anonymous Encrypted Feedback & Feature Dispatcher
Exec=/usr/local/bin/zoth-feedback
Icon=/usr/share/pixmaps/zoth-feedback.png
Terminal=false
Categories=Utility;System;
Keywords=feedback;anonymous;report;suggest;zothos;
StartupNotify=true
