[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth Hermetic Audio Studio
Comment=Satie, Chopin, Debussy & Bach Hermetic Focus Studio
Exec=zoth-music
Icon=zoth-soundtrack
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=audio;music;classical;piano;satie;chopin;bach;focus;
StartupNotify=false
