[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth LazyDocker TUI
GenericName=Docker Terminal Manager
Comment=Interactive Terminal UI for Docker and Podman Containers
Exec=konsole -e lazydocker
Icon=docker
Terminal=false
Categories=Development;System;ZothPentesting;
Keywords=docker;podman;containers;tui;terminal;
StartupNotify=true
