[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth Undercover Mode (Beta)
Comment=Disguise Mode, Identity Mask & Win11 Undercover Theme
Exec=konsole --noclose -e /usr/local/bin/zoth-undercover
Icon=zoth-undercover
Terminal=false
Categories=Security;Privacy;BetaExperimental;
Keywords=undercover;disguise;mask;identity;win11;theme;stealth;
MimeType=application/x-zoth-undercover;
StartupNotify=true
