[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth KeePassXC Vault
GenericName=Password Manager
Comment=Sovereign Password and Credential Vault
Exec=keepassxc %f
Icon=keepassxc
Terminal=false
Categories=Security;ZothPentesting;ZothOpsec;Utility;
Keywords=password;credentials;vault;security;
StartupNotify=true
