[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth Security Arsenal
Comment=Kali & Parrot Pentesting Toolchain
Exec=konsole -p tabtitle='Security Arsenal' -e 'zoth-sec'
Icon=zoth-sec
Terminal=false
Categories=Security;Pentesting;
Keywords=security;pentest;kali;parrot;arsenal;toolchain;
MimeType=application/x-zoth-sec;
StartupNotify=true
