[Desktop Entry]
Version=1.0
Type=Application
Name=Plymouth Phoenix
Comment=Boot Animation & Display Manager Theme
Exec=
Icon=zoth-plymouth
Terminal=false
Categories=Settings;System;
Keywords=plymouth;phoenix;boot;animation;theme;display-manager;
MimeType=application/x-zoth-plymouth;
StartupNotify=true
