[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth Animated Canvas [Misc]
Comment=Cyber Film Strip & Datamosh Visualizer Engine
Exec=/usr/local/bin/zoth-animated-bg
Icon=zoth-animated-bg
Terminal=false
Categories=Misc;Amusement;
Keywords=animated;background;film;datamosh;cyber;visualizer;wallpaper;
MimeType=application/x-zoth-animated-bg;
StartupNotify=true
