[Desktop Entry]
Version=1.0
Type=Application
Name=PowerShell
Comment=Windows PowerShell & Azure Automation Shell
Exec=konsole -e /usr/local/bin/zoth-powershell
Icon=zoth-powershell
Terminal=false
Categories=Development;System;Shell;
Keywords=powershell;windows;azure;shell;automation;cli;ps;
MimeType=application/x-zoth-powershell;
StartupNotify=true
