[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth NetKill [Pentesting]
Comment=Firewall Block & Network Neutralization
Exec=konsole --noclose -e /usr/local/bin/zoth-netkill
Icon=zoth-netkill
Terminal=false
Categories=Security;Pentesting;ExploitationTools;
Keywords=netkill;firewall;block;neutralize;iptables;network;security;
MimeType=application/x-zoth-netkill;
StartupNotify=true
