[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth Ghost Amnesic Mode
Comment=Tor Route, Amnesic RAM & Anti-Forensics Mode
Exec=konsole -p tabtitle='Ghostmode Operations' -e 'zoth-ghost'
Icon=zoth-ghost
Terminal=false
Categories=Security;Privacy;
Keywords=ghost;nullai;tor;amnesic;anti-forensics;stealth;
MimeType=application/x-zoth-ghost;
StartupNotify=true
