[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth VeraCrypt Vault
GenericName=Disk Encryption
Comment=Plausibly Deniable Encrypted Volumes and Drives
Exec=veracrypt
Icon=veracrypt
Terminal=false
Categories=Security;ZothPentesting;ZothOpsec;Utility;
Keywords=encryption;crypto;vault;disk;volume;
StartupNotify=true
