[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth Yazi File Navigator
GenericName=Terminal File Manager
Comment=Blazing Fast Asynchronous Terminal File Manager with Image Preview
Exec=konsole -e yazi
Icon=system-file-manager
Terminal=false
Categories=System;Utility;ZothPentesting;
Keywords=yazi;files;filemanager;terminal;rust;
StartupNotify=true
