[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth OnionShare Privacy
GenericName=Anonymous File Sharing
Comment=Secure and Anonymous File Sharing, Chat, and Hosting over Tor
Exec=onionshare
Icon=onionshare
Terminal=false
Categories=Network;Security;ZothPentesting;ZothOpsec;
Keywords=tor;onion;anonymous;share;privacy;chat;
StartupNotify=true
