[Desktop Entry]
Version=1.0
Type=Application
Name=Web3 & Solana Core
Comment=Solana Blockchain Studio, Anchor Smart Contracts & Live Swarm Tracker
Exec=/usr/local/bin/zoth-web3
Icon=web3-solana
Terminal=false
Categories=Development;Security;
Keywords=solana;web3;crypto;anchor;forge;cast;smartcontract;blockchain;
StartupNotify=true
