[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth OS
Comment=Live desk
Exec=/usr/local/bin/zoth-os
Icon=zoth-studio
Terminal=false
Categories=System;
StartupNotify=true
