[Unit]
Description=ZOTHOS Sovereign Authentication & Credential Enforcer
DefaultDependencies=no
After=systemd-remount-fs.service
Before=sysinit.target sddm.service systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/zoth-auth-init
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
