[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth Tor Privacy Browser
Comment=Tor Onion Routing Anonymous Web Explorer
Exec=/usr/local/bin/tor-browser %u
Icon=/usr/share/pixmaps/torbrowser.png
Terminal=false
Categories=Network;WebBrowser;Security;Pentesting;
StartupNotify=true
