[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth Web3 Core
Comment=Solana & EVM Sovereign Wallet, RPC & Key Generator Cockpit
Exec=/usr/local/bin/zoth-web3
Icon=/usr/share/pixmaps/web3-solana.png
Terminal=false
Categories=Development;Finance;Web3;
Keywords=solana;web3;crypto;anchor;forge;cast;smartcontract;blockchain;
StartupNotify=true
