[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth Arsenal Provisioner
GenericName=Kali, Parrot & Extras Installer
Comment=One-click installation and configuration of Kali Cyber Arsenal, Parrot Privacy, and Zoth Dev Extras
Exec=/usr/local/bin/zoth-tools-installer
Icon=/usr/share/icons/Zoth-Hermetic/256x256/apps/zoth-tool-nexus.png
Terminal=false
StartupNotify=true
Categories=System;Security;Development;Utility;Settings;
Keywords=zoth;kali;parrot;tools;install;installer;bundle;arsenal;provisioner;extras;
