label live-amd64
	menu label ^✦ ZOTHOS 3.0 — Sovereign Alchemical Intelligence (KDE Plasma 6)
	menu default
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components username=zoth hostname=zothos user-default-groups=sudo,audio,video,netdev,plugdev,dialout quiet splash systemd.unit=graphical.target

label live-amd64-failsafe
	menu label ✦ ZOTHOS 3.0 (Failsafe Graphics / Recovery Mode)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components memtest noapic noapm nodma nomce nosmp nosplash vga=788
