[Desktop Entry]
Name=Zoth Incognito Win11
Comment=Windows 11 Fluent Dark Chameleon Reality
X-KDE-PluginInfo-Author=ZothOS
X-KDE-PluginInfo-Email=dev@nullai.tech
X-KDE-PluginInfo-Name=Zoth-Win11
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Plasma Theme
