label live-amd64
	menu label ZOTHOS 3.0 (KDE Plasma 6)
	menu default
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components username=zoth hostname=zothos user-default-groups=sudo,audio,video,netdev,plugdev,dialout systemd.unit=graphical.target

label live-amd64-failsafe
	menu label ZOTHOS 3.0 (Failsafe Graphics / Recovery Mode)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components username=zoth hostname=zothos memtest noapic noapm nodma nomce nosmp nomodeset vga=788
