[Desktop Entry]
Version=1.0
Type=Application
Name=Bitwarden Vault
GenericName=Password & Secrets Manager
Comment=Access and manage your Bitwarden vault
Exec=konsole -p tabtitle='Bitwarden Vault' -e 'bash -c "bw --help; echo; exec bash"'
Icon=/usr/share/pixmaps/bitwarden.png
Terminal=false
Categories=Utility;Security;
StartupNotify=true
