[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth Chrome Web Engine
Comment=Google Chrome Enterprise & DevTools Platform
Exec=/usr/bin/google-chrome-stable --no-sandbox %U
Icon=/usr/share/pixmaps/google-chrome.png
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
