[Desktop Entry]
Type=Application
Version=1.0
Name=Install ZothOS 3.0
GenericName=Live System Installer
Comment=Install ZothOS Sovereign AI & Cyber Linux to Disk
Exec=sudo -E calamares
Icon=zoth-os
Terminal=false
Categories=System;
StartupNotify=true
