[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth Reality Switcher (Beta)
Comment=Instant Multi-Reality Theme & Compositor Engine
Exec=zoth-reality
Icon=/usr/share/pixmaps/zoth-mode.png
Terminal=false
Categories=Settings;System;BetaExperimental;
Keywords=reality;switcher;matrix;ghost;win11;undercover;
MimeType=application/x-zoth-mode;
StartupNotify=true
