[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth Tool Nexus
Comment=175+ Penetration Testing, AI & Sovereign Runtimes Orchestrator
Exec=konsole -p tabtitle="ZOTHOS Tool Nexus" -e "zoth-tool-nexus"
Icon=/usr/share/pixmaps/zoth-tool-nexus.png
Terminal=false
Categories=System;Development;Security;Pentesting;
StartupNotify=true
