[Desktop Entry]
Type=Application
Version=1.0
Name=Zoth Terminal (Konsole)
GenericName=Command Console
Comment=ZothOS Sovereign Shell & HUD Console
Exec=konsole
Icon=org.kde.konsole
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=true
