[Desktop Entry]
Version=1.0
Type=Application
Name=Zoth Matrix Rain [Misc]
Comment=Phosphor Emerald Alchemical Digital Rain Console
Exec=konsole -e /usr/local/bin/zoth-matrix-rain
Icon=/usr/share/pixmaps/zoth-matrix-rain.png
Terminal=false
Categories=Misc;Amusement;
Keywords=matrix;rain;phosphor;green;terminal;visualizer;cmatrix;
MimeType=application/x-zoth-matrix-rain;
StartupNotify=true
