[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=ZOTHOS Desktop Init
Comment=Initialize ZothOS Theme, Icons, and Wallpaper
Exec=/usr/local/bin/zoth-desktop-init
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
