[Desktop Entry]
Version=1.0
Type=Application
Name=Picom Compositor
GenericName=X11 Compositor
Comment=ZothOS Magic UI Glassmorphism & Cyberpunk Neon Compositor
Exec=picom --experimental-backends --config /etc/xdg/picom/picom-matrix.conf -b
Icon=preferences-system-windows
Terminal=false
Categories=Utility;System;
OnlyShowIn=XFCE;
StartupNotify=false
