[Desktop Entry]
Type=Application
Name=ZOTHOS Plasma Setup
Comment=Apply ZothOS Wallpaper and Theme
Exec=/usr/local/bin/zoth-plasma-setup
Terminal=false
Hidden=false
X-KDE-autostart-after=panel
OnlyShowIn=KDE;
