[Desktop Entry]
Type=Application
Name=Zoth First Boot Provisioner
Exec=/usr/local/bin/zoth-firstboot
Terminal=false
NoDisplay=true
X-KDE-autostart-phase=2
