[Desktop Entry]
Name=Zoth Hermetic Matrix
Comment=Phosphor Emerald Matrix Reality
X-KDE-PluginInfo-Author=ZothOS
X-KDE-PluginInfo-Email=dev@nullai.tech
X-KDE-PluginInfo-Name=Zoth-Matrix
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Plasma Theme
