source /boot/grub/config.cfg

# Live boot
menuentry "✦ ZOTHOS 3.0 — Sovereign Alchemical Intelligence (KDE Plasma 6)" --hotkey=z {
	linux	/live/vmlinuz boot=live components username=neo hostname=zothos user-default-groups=sudo,audio,video,netdev,plugdev,dialout quiet splash systemd.unit=graphical.target findiso=${iso_path}
	initrd	/live/initrd.img
}

menuentry "✦ ZOTHOS 3.0 (Failsafe Graphics / Recovery Mode)" --hotkey=f {
	linux	/live/vmlinuz boot=live components memtest noapic noapm nodma nomce nosmp nosplash vga=788 findiso=${iso_path}
	initrd	/live/initrd.img
}

submenu '✦ Advanced & Diagnostic Utilities...' --hotkey=u {
	source /boot/grub/theme.cfg

	if [ "${grub_platform}" = "efi" ]; then
		menuentry "UEFI Firmware Settings" --hotkey=f {
			fwsetup
		}
	fi

	menuentry "Verify integrity of the boot medium" --hotkey=v {
		linux	/live/vmlinuz boot=live components username=neo hostname=zothos user-default-groups=sudo,audio,video,netdev,plugdev,dialout systemd.unit=graphical.target findiso=${iso_path} verify-checksums
		initrd	/live/initrd.img
	}
}
