source /boot/grub/config.cfg

# Live boot
menuentry "ZOTHOS 3.0 (KDE Plasma 6)" {
	linux	/live/vmlinuz boot=live components quiet splash username=zoth hostname=zothos user-default-groups=sudo,audio,video,netdev,plugdev,dialout systemd.unit=graphical.target findiso=${iso_path}
	initrd	/live/initrd.img
}

menuentry "ZOTHOS 3.0 (Failsafe Graphics / Recovery Mode)" {
	linux	/live/vmlinuz boot=live components nomodeset vga=788 username=zoth hostname=zothos memtest noapic noapm nodma nomce nosmp findiso=${iso_path}
	initrd	/live/initrd.img
}

menuentry "Boot Installed OS from Hard Drive (Local Disk)" {
	if [ "${grub_platform}" = "efi" ]; then
		search --set=localroot --file /EFI/debian/grubx64.efi
		if [ -n "${localroot}" ]; then
			chainloader (${localroot})/EFI/debian/grubx64.efi
		else
			search --set=localroot --file /EFI/boot/bootx64.efi
			chainloader (${localroot})/EFI/boot/bootx64.efi
		fi
	else
		set root=(hd0)
		chainloader +1
	fi
}

submenu "Advanced & Diagnostic Utilities" {
	source /boot/grub/theme.cfg

	if [ "${grub_platform}" = "efi" ]; then
		menuentry "UEFI Firmware Settings" {
			fwsetup
		}
	fi

	menuentry "Verify integrity of the boot medium" {
		linux	/live/vmlinuz boot=live components username=zoth hostname=zothos user-default-groups=sudo,audio,video,netdev,plugdev,dialout systemd.unit=graphical.target findiso=${iso_path} verify-checksums
		initrd	/live/initrd.img
	}
}
