[Desktop Entry]
Name=Zoth Gold Sanctum
Comment=24K Solar Gold Alchemical Reality
X-KDE-PluginInfo-Author=ZothOS
X-KDE-PluginInfo-Email=dev@nullai.tech
X-KDE-PluginInfo-Name=Zoth-Gold
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Plasma Theme
