[Desktop Entry]
Version=1.0
Type=Application
Name=ZOTHOS Sec Arsenal
Comment=Kali & Parrot Pentesting Toolchain & Nexus Hub
Exec=electron /opt/zoth-nexus-app
Icon=zoth-sec
Terminal=false
Categories=Security;System;
StartupNotify=true
