[Desktop Entry]
Version=1.0
Type=Application
Name=NullAI Ghostmode
Comment=Tor Route, Amnesic RAM & Anti-Forensics Fortress
Exec=/usr/local/bin/zoth-ghost-gui
Icon=zoth-ghost
Terminal=false
Categories=Security;System;
StartupNotify=true
